@font-face {
    font-family: old-london;
    src: url("../static/fontit/Angel wish.ttf");
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'old-london', Arial, sans-serif;
}

body {
    overflow: hidden;
    background-image: url("../static/images/background.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    height: 100vh;
    width: 100%;
}

.valikko {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titteli {
    width: 85%;
    padding-bottom: 10%;
}

.uusi-peli-valikko {
    height: 100%;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}

/* Slideshow container */
.slideshow-laatikko {
  width: 70%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.slide {
  display: none;
}

/* Next & previous buttons */
.edellinen-luokka, .seuraava-luokka {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.seuraava-luokka {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.edellinen-luokka:hover, .seuraava-luokka:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: black;
  font-size: 2rem;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.slide-pallo {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.2s ease;
}

.active, .slide-pallo:hover {
  background-color: white;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.lataapeli-valikko {
    height: 100%;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}

.vasen-puoli, .oikea-puoli {
    flex: 1;
    height: 100%;
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 21px;
}

.vasen-puoli {
    flex-direction: column;
    margin-right: 2%;
}

.pelaaja-info, .loki {
    height: 50%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}

.pelaaja-info {
    height: 50%;
}

.paikkatausta {
    position: absolute;
    overflow: auto;
    opacity: 40%;
    height: 48%;
    width: 48%;
}

.pelaaja-kuva {
    width: 50%;
    height: 100%;
    background: url("../static/images/pelaaja-luokat/paladin-nainen.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
}

.pelaaja-status {
    width: 40%;
    height: 100%;
    /* background-color: rgba(50, 0, 0, 0.8); */
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    margin-top: 8%;
}

header {
    text-align: center;
    font-size: 1.5rem;
}

table {
    margin-top: 0.5rem;
    width: 60%;
    text-align: center;
    border: black solid 1px;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    box-shadow: 0 0 9px 2px rgb(0 0 0);
}

.nappi {
    font-size: 1.5rem;
    margin-bottom: 0.2rem;
    display: block;
    height: 8%;
    width: 60%;
    text-decoration: none;
    text-align: center;
    transition: all 300ms;
    background: none;
    box-shadow: 0 0 9px 2px rgb(0 0 0);
    border: none;
}

button:hover {
    background: rgba(0, 0, 0, 0.3); /* Tummempi tausta hover-tilassa: rgba(0, 0, 0, 0.4) */
}

.loki {
    /*background-color: rgba(0, 0, 50, 0.8);*/
    display: flex;
    flex-direction: column;
}

.loki-teksti {
    background: none;
    width: 94%;
    height: 100%;
    text-align: left;
    font-size: 1.4rem;
    align-self: center;
    border: none;
    box-shadow: 0 0 9px 2px rgb(0 0 0);
    resize: none;
    outline: none
}

.oikea-puoli {
    width: 100%;
    height: 100%;
}

.kartta {
    width: 97%;
    height: 100%;
    background: url("../static/images/kartta/kartta2.png");
    background-size: 100% 100%;
    background-position: right;
    background-repeat: no-repeat;
    margin-left: 2%;
}

.uudentoivonkyla-nappi {
    position: absolute;
    top: 68%;
    left: 84%;
    height: 12%;
    width: 9%;
}


.tulivuori-nappi {
    position: absolute;
    top: 43%;
    left: 71.9%;
    height: 17%;
    width: 6.5%;
}


.noitametsa-nappi {
    position: absolute;
    top: 71%;
    left: 61%;
    height: 16%;
    width: 12%;
}


.varisrame-nappi {
    position: absolute;
    top: 61%;
    left: 51.5%;
    height: 22%;
    width: 10%;
}

.hiisisuo-nappi {
    position: absolute;
    top: 91%;
    left: 62.7%;
    height: 9%;
}

.velhotorni-nappi {
    position: absolute;
    top: 75%;
    left: 76%;
    height: 15%;
}


.peikkoluola-nappi {
    position: absolute;
    top: 56%;
    left: 91.5%;
    height: 8%;
}

.suurentarmonkaupunki-nappi {
    position: absolute;
    top: 37%;
    left: 87%;
    height: 12%;
    width: 11%;
    z-index: 2;
}

.sammakkojarvi-nappi {
    position: absolute;
    top: 24%;
    left: 82.5%;
    height: 24%;
    width: 18%;
    z-index: 1;
}

.ruoholaakso-nappi {
    position: absolute;
    top: 9%;
    left: 72%;
    height: 16%;
}
.kartta-nappi:hover {
    opacity: 50%;
}

/* Täällä muotoilut taistelu näkymään */

.vasen-puoli-taistelu, .oikea-puoli-taistelu {
    flex: 1;
    height: 100%;
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 21px;
}

.vasen-puoli-taistelu {
    height: 100%;
    width: 100%;
    display: none;
    flex-direction: column;
}

.vihollinen-kuva {
    width: 50%;
    height: 100%;
    background: url("../static/images/viholliset/peikko-sammakkolampi.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
}

.taistelu-rivi {
    display: flex;
    flex-direction: row;
    background: url("../static/images/ui/border.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 80%;
    height: 50%;
    margin-left: 10%;
}

.pelaaja-status-taistelu {
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8%;
}

.valikko-taistelu {
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20%;
}

.taistelu-valikko-nappi {
    margin-top: 10%;
    display: block;
    height: 10%;
    width: 80%;
    text-decoration: none;
    text-align: center;
    transition: all 300ms;
    background: none;
    font-size: 1.5rem;
    border: none;
    box-shadow: 0 0 9px 2px rgb(0 0 0);
}

.isku-nappi {
    margin-bottom: 1rem;
    display: none;
    height: 10%;
    width: 80%;
    text-decoration: none;
    border-radius: 4px;
    text-align: center;
    transition: all 300ms;
    background: rgba(0, 0, 0, 0.4); /* Tummempi tausta: rgba(0, 0, 0, 0.2) */
    color: white; /* Varmista, että teksti on luettavissa tummemmalla taustalla */
}

.vihollinen-status-taistelu {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8%;
}

.oikea-puoli-taistelu {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.taistelu_loki {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.taistelu_loki h2 {
    font-size: 3rem;
}

.taistelu-loki-teksti {
    background: none;
    width: 80%;
    height: 100%;
    text-align: left;
    font-size: 1.4rem;
    align-self: center;
    border: none;
    box-shadow: 0 0 9px 2px rgb(0 0 0);
    border-radius: 10px;
    resize: none;
    outline: none;
}
